<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Messenger</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="header">
	<div class="left-side">
		<a href="/messenger" class="header-name">
			<img src="/images/logo.svg" alt="Logo">
			L-Message
		</a>
	</div>
	<div class="right-side">
		<a href="/profile">
			<img src="/images/settings.svg" alt="Settings" class="settings-image">
		</a>
		<a href="#">
			<img src="/images/about.svg" alt="About" class="about-image">
		</a>
		<img th:if="${account.profilePicture}" th:src="${account.profilePicture}" alt="Profile Picture" class="exist-image"/>
		<img th:unless="${account.profilePicture}" src="/images/avatar.svg" alt="Profile Picture" class="user-image"/>
	</div>
</div>
<div class="message">
	<div class="messages-block">
		<form th:action="@{/messenger/start-dialog}" method="post" id="start-dialog-form">
			<i class="fa fa-search search-icon"></i>
			<input type="text" name="receiverUsername" placeholder="Search" class="search-input">
		</form>
		<div class="message-information">
			<div th:each="username : ${dialogUsernames}">
				<a th:href="@{'/messenger/' + ${username.getUsername()}}" class="message-button">
					<img id="profile-picture" th:if="${username.getProfilePicture()}" th:src="${username.getProfilePicture()}" alt="Profile Picture" class="message-pic"/>
					<img th:unless="${username.getProfilePicture}" src="/images/person.jpg" alt="Profile Picture" class="message-pic"/>
					<span th:text="${username.getUsername()}" class="message-name"></span>
				</a>
			</div>
		</div>
	</div>
	<div th:if="${receiver != null}" class="chat">
<!--		<div th:if="${messages.size() == 0 || !messages[0].sender.username == currentUser}">
			<span th:text="${receiver.getUsername()}"></span>
		</div>-->

		<!--<div th:each="message, status : ${messages}">
			&lt;!&ndash; Проверяем наличие следующей итерации &ndash;&gt;
			<div th:if="${status.index + 1 < messages.size()}">
				&lt;!&ndash; Сравниваем аккаунты текущего и следующего сообщений &ndash;&gt;
				<div th:if="${message.sender.username != currentUser and message.sender.username != messages[status.index + 1].sender.username}">
					&lt;!&ndash; Отображаем фотографию собеседника &ndash;&gt;
					<img th:if="${receiver.getProfilePicture()}" th:src="${receiver.getProfilePicture()}" alt="Profile Picture" class="message-pic"/>
					<img th:unless="${receiver.getProfilePicture()}" src="/images/person.jpg" alt="Profile Picture" class="message-pic"/>
				</div>
			</div>

			&lt;!&ndash; Отображаем сообщение &ndash;&gt;
			<p>
				<span th:text="${message.sender.username}"></span>:
				<span th:text="${message.content}"></span>
			</p>
		</div>-->

		<div>
			<ul>
				<li th:each="message : ${messages}">
					<span th:if="${message.isDisplayProfile()}" th:text="${message.getMessage().getSender().getUsername()} + ': '"></span>
					<p th:text="${message.getMessage().getContent()}"></p>
				</li>
			</ul>
		</div>
		<form th:action="@{'/messenger/' + ${receiver.getUsername()}}" method="post">
			<input type="text" name="messageContent" placeholder="Enter your message">
			<button type="submit">Send</button>
		</form>
	</div>
</div>
<script src="/scripts/messenger.js"></script>
<script src="/scripts/menu.js"></script>
<script src="https://kit.fontawesome.com/a1a44e76b4.js" crossorigin="anonymous"></script>
</body>
</html>