<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Messenger</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/menu-line.css">
</head>
<body>
<div class="header">
	<div class="left-side">
		<a href="/messenger" class="header-name">
			<img src="/images/logo.svg" alt="Logo">
			L-Message
		</a>
	</div>
	<div class="right-side">
		<a href="/profile">
			<img src="/images/settings.svg" alt="Settings" class="settings-image">
		</a>
		<a href="#">
			<img src="/images/about.svg" alt="About" class="about-image">
		</a>
		<img th:if="${account.profilePicture}"
		     th:src="${account.profilePicture}" alt="Profile Picture" class="exist-image"/>
		<img th:unless="${account.profilePicture}" src="/images/avatar.svg" alt="Profile Picture" class="user-image"/>
	</div>
</div>
<div class="message">
	<div class="messages-block">
		<form th:action="@{/messenger/start-dialog}" method="post" id="start-dialog-form">
			<i class="fa fa-search search-icon"></i>
			<input type="text" name="receiverUsername" id="enterUsername" placeholder="Search" class="search-input">
		</form>
		<div class="message-information">
			<div th:each="username, iterStat : ${dialogUsernames}">
				<th:block th:if="${!lastMessage.get(iterStat.index).equals('null')}">
					<a th:href="@{'/messenger/' + ${username.getUsername()}}" class="message-button">
						<img id="profile-picture" th:if="${username.getProfilePicture()}"
						     th:src="${username.getProfilePicture()}" alt="Profile Picture"/>
						<img th:unless="${username.getProfilePicture}" src="/images/person.jpg"
						     alt="Profile Picture"/>
						<div class="profile-bio">
							<span th:text="${username.getUsername()}" class="message-name"></span>
							<span th:if="${iterStat != null}" th:text="${lastMessage.get(iterStat.index)}"
							      class="profile-last-message"></span>
						</div>
					</a>
				</th:block>
			</div>
		</div>
	</div>
	<div th:if="${receiver != null}" class="chat">
		<div id="receiver-username" th:data-username="${receiver.getUsername()}"></div>
		<div id="current-username" th:data-username="${currentUser.getUsername()}"></div>
		<div id="receiver-picture" th:data-picture="${receiver.getProfilePicture()}"></div>
		<div class="messages-container" id="messages">
			<th:block th:each="message, iterStat : ${messages}">
				<th:block th:if="${iterStat.index > 0}">
					<th:block th:if="${messages[iterStat.index - 1].getMessage().getDateTime().toLocalDate() !=
                                  message.getMessage().getDateTime().toLocalDate()}">
						<div class="day-centre">
							<div class="day-divider">
							<span th:text="${message.getMessage().getDateTime().toLocalDate().getDayOfMonth() +
							' ' + message.getMessage().getDateTime().toLocalDate().getMonth()}"
							      class="message-day"></span>
							</div>
						</div>
					</th:block>
				</th:block>
				<th:block th:if="${message.isMyAccount()}">
					<div class="my-account">
						<div class="user-message-o own-message">
							<p th:text="${message.getMessage().getContent()}"></p>
						</div>
						<th:block th:if="${iterStat.index > 0}">
							<th:block th:if="${messages[iterStat.index - 1].isMyAccount()}">
								<th:block th:if="${T(java.time.temporal.ChronoUnit).HOURS.between(
									messages[iterStat.index - 1].getMessage().getDateTime(), message.getMessage().getDateTime()) > 1}">
									<span th:text="${#temporals.format(message.getMessage().getDateTime(), 'HH:mm')}" class="message-date"></span>
								</th:block>
							</th:block>
						</th:block>
						<th:block th:if="${iterStat.index + 1 < messages.size()}">
							<th:block th:if="${!messages[iterStat.index + 1].isMyAccount()}">
								<span th:text="${#temporals.format(message.getMessage().getDateTime(), 'HH:mm')}" class="message-date"></span>
							</th:block>
							<th:block th:if="${messages[iterStat.index + 1].getMessage().getDateTime().getDayOfMonth() >
								message.getMessage().getDateTime().getDayOfMonth()}">
								<span th:text="${#temporals.format(message.getMessage().getDateTime(), 'HH:mm')}" class="message-date"></span>
							</th:block>
						</th:block>
					</div>
				</th:block>
				<th:block th:if="${!message.isMyAccount()}">
					<div class="user-message-n">
						<p th:if="${message.isDisplayProfile()}"
						   th:text="${message.getMessage().getSender().getUsername()}" class="messenger-username"></p>
						<div th:if="${message.isPicture()}">
							<img th:if="${message.getMessage().getSender().getProfilePicture()}"
							     th:src="${message.getMessage().getSender().getProfilePicture()}" alt="Profile Picture"
							     class="message-pic"/>
							<img th:unless="${message.getMessage().getSender().getProfilePicture()}"
							     src="/images/person.jpg" alt="Profile Picture" class="message-pic"/>
							<div class="user-message">
								<p th:text="${message.getMessage().getContent()}"></p>
							</div>
							<span th:text="${#temporals.format(message.getMessage().getDateTime(), 'HH:mm')}" class="message-date"></span>
						</div>
						<th:block th:if="${!message.isPicture()}">
							<div class="user-message-picture">
								<p th:text="${message.getMessage().getContent()}"></p>
							</div>
							<th:block th:if="${iterStat.index + 1 < messages.size()}">
								<th:block th:if="${messages[iterStat.index + 1].getMessage().getDateTime().getDayOfMonth() >
								message.getMessage().getDateTime().getDayOfMonth()}">
									<span th:text="${#temporals.format(message.getMessage().getDateTime(), 'HH:mm')}" class="message-date"></span>
								</th:block>
							</th:block>
						</th:block>
					</div>
				</th:block>
			</th:block>
		</div>
		<form class="message-form">
			<input type="text" id="message" class="form-control" placeholder="Write message...">
			<div class="message-footer">
				<img src="/images/microphone.svg" alt="microphone" class="message-microphone">
				<img src="/images/staple.svg" alt="microphone" class="message-staple">
				<button id="send" class="message-button-send" type="submit">Send</button>
			</div>
		</form>
	</div>
	<div class="receiver-information" th:if="${receiver != null}">
		<div class="receiver-top">
			<div class="receiver-header">
				<img th:if="${receiver.getProfilePicture()}"
				     th:src="${receiver.getProfilePicture()}" alt="Profile Picture"
				     class="message-pic"/>
				<img th:unless="${receiver.getProfilePicture()}"
				     src="/images/person.jpg" alt="Profile Picture" class="message-pic"/>
				<span th:text="${receiver.getUsername()}" class="message-name"></span>
			</div>
			<div class="receiver-button">
				<a th:href="@{'/messenger/'}">
					<img src="/images/close.svg" alt="Close">
				</a>
			</div>
		</div>
		<hr>
		<div class="receiver-body">
			<span class="message-name">Username</span>
			<span th:text="${'@' + receiver.getUsername()}"></span>
			<span class="message-name">Bio</span>
			<span>Here should be user bio</span>
		</div>
		<hr>
		<div class="receiver-function">
			<a href="#">Block user</a>
			<!--<a th:href="@{'/messenger/clear-history/' + ${receiver.getUsername()}}">Clear history</a>-->
<!--			<form th:action="@{'/messenger/clear-history/' + ${receiver.getUsername()}}" method="post">
				<input type="hidden" name="_method" value="post" />
				<button type="submit">Clear history</button>
			</form>-->
			<form th:action="@{'/messenger/clear-history/' + ${receiver.getUsername()}}" method="post" th:csrf>
				<input type="hidden" name="_method" value="post" />
				<button type="submit">Clear history</button>
			</form>

			<a href="#">Delete conversation</a>
		</div>
	</div>
</div>
<script src="/scripts/messenger.js"></script>
<script src="/scripts/menu.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script src="/scripts/ws-client.js"></script>
<script src="https://kit.fontawesome.com/a1a44e76b4.js" crossorigin="anonymous"></script>
</body>
</html>