<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messenger</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/menu.css">
	<link rel="stylesheet" href="/css/messages.css">
</head>
<body>
<div class="messages-block">
	<h2>Messenger</h2>
	<hr>
	<div class="message-information">
		<div th:each="username : ${dialogUsernames}">
			<a th:href="@{'/messenger/' + ${username.getUsername()}}" class="message-button">
				<img id="profile-picture" th:if="${username.getProfilePicture()}" th:src="${username.getProfilePicture}" alt="Profile Picture" class="message-pic"/>
				<img th:unless="${username.getProfilePicture}" src="/images/person.jpg" alt="Profile Picture" class="message-pic"/>
				<span th:text="${username.getUsername()}" class="message-name"></span>
			</a>
		</div>
		<button id="start-dialog-button" class="start-dialog-button">Start New Dialog</button>
	</div>
</div>

<div id="start-dialog-modal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<h2>Start New Dialog</h2>
		<form th:action="@{/messenger/start-dialog}" method="post" id="start-dialog-form">
			<input type="text" name="receiverUsername" placeholder="Enter receiver's username">
			<button type="submit">Start</button>
		</form>
	</div>
</div>
<script>
    var startDialogButton = document.getElementById("start-dialog-button");
    var modal = document.getElementById("start-dialog-modal");
    var closeButton = document.getElementsByClassName("close")[0];
    var form = document.getElementById("start-dialog-form");

    startDialogButton.onclick = function() {
        modal.style.display = "block";
    }

    closeButton.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script src="/scripts/menu.js"></script>
</body>
</html>
