.message {
    margin-top: 56px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
}

.messages-block {
    width: 350px;
    height: 93.5vh;
    display: flex;
    top: 0;
    left: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.1);
}

.user-message-o {
    display: flex;
    align-items: flex-end;
}

li.user-message-n {
    display: flex;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

li.user-message-n.active {
    opacity: 1;
}

li.user-message-o {
    display: flex;
    align-items: flex-end;
}

.search-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    height: 40px;
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
}

.message-information {
    margin-top: 20px;
    padding: 0 20px;
}

.message-information a {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 15px 15px;
    border: 1px solid rgba(204, 204, 204, 0);
    border-radius: 28px 10px 10px 28px;
}

.message-information a:hover {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.message-information span {
    color: #0E1114;
}

.message-information img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.message-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 3px;
}

.message-button {
    width: 280px;
}

.chat {
    display: flex;
    width: 1250px;
    flex-direction: column;
    height: 75vh;
}

.messenger-username {
    color: #1D9745;
    padding-left: 4px;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 42px;
    margin-top: 7px;
}

.user-message p,
.own-message p {
    opacity: 0.85;
}

.user-message-picture,
.user-message,
.own-message {
    background-color: #eef1f4;
    padding: 10px;
    border-radius: 15px 15px 15px 0;
    margin: 5px;
    display: inline-block;
}

.user-message-picture {
    margin-left: 44px;
}

.my-account {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.own-message {
    background-color: #e8f2fe;
    border-radius: 15px 15px 0 15px;
}

.user-message p,
.user-message-picture p,
.own-message p {
    margin: 0;
}

.user-message {
    margin-left: 5px;
}

.own-message.own-message-right {
    background-color: #b7caff;
    margin-left: auto;
}

.messages-container {
    scrollbar-width: thin;  /* для Firefox */
    scrollbar-color: transparent transparent;
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    margin-left: 65px;
    margin-right: 65px;
}

.messages-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.message-form {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: flex;
    width: 720px;
    height: 124px;
    flex-direction: column;
}

.message-form input[type="text"] {
    flex-grow: 1;
    height: 64px;
    padding: 10px 10px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
}

.profile-bio {
    display: flex;
    flex-direction: column;
}

.message-name {
    font-size: 18px;
    font-weight: 600;
}

.profile-last-message {
    opacity: 0.7;
}

.message-footer {
    display: flex;
    height: 64px;
    background-color: #f8f9fa;
    border-radius: 0 0 15px 15px;
    border: 1px solid #ccc;
    border-top: none rgb(204, 204, 204);
    align-items: center;
    gap: 28px;
}

.message-microphone {
    height: 22px;
    width: 16px;
    margin-left: 20px;
}

.message-staple {
    height: 21px;
    width: 18px;
}

.message-button-send {
    background: transparent;
    color: #a0a0a0;
    font-weight: 600;
    border: 1px solid #ccc;
    padding: 5px 12px 5px 12px;
    border-radius: 8px;
    cursor: pointer;
    height: 36px;
    margin-left: 515px;
}

.receiver-information {
    width: 320px;
    height: 93.5vh;
    display: flex;
    top: 0;
    background-color: #ffffff;
    flex-direction: column;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px 0 0 0;
    padding-left: 27px;
}

.receiver-header {
    display: flex;
    gap: 18px;
    margin-top: 12px;
    align-items: center;
    width: 251px;
}

.receiver-button {
    display: flex;
    align-items: center;
    padding-top: 6px;
}

.receiver-information hr {
    height: 1px;
    width: 265px;
    margin-left: 0;
    margin-top: 20px;
}

.receiver-function,
.receiver-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.receiver-top {
    display: flex;
}

.message-date {
    color: #616c76;
    display: flex;
    margin: -5px 5px 20px 44px;
    font-size: 14px;
}


.message-day {
    color: white;
    font-weight: 600;
}

.day-centre {
    display: flex;
}

.day-divider {
    background-color: #8fa0af;
    border-radius: 25px;
    padding: 3px 10px 3px 10px;
    display: inline-block;
    margin: 20px auto;
}

/*
.receiver-function button {
    border: none;
    background: none;
    color: #1888ff;
    padding-left: 0;
}

.receiver-function button:hover {
    color: #0056b3;
    text-decoration: underline;
}*/
