body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

/*  Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #fefefe;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e9;
}

/* Left side */

.left-side {
    display: flex;
    justify-content: center;
    margin-left: 45px;
}

.header-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #0E1114;
}

.header-name:hover {
    text-decoration: none;
}

.header-name img {
    margin-bottom: 4px;
    margin-right: 7px;
}

/* Right side */

.right-side {
    display: flex;
    margin-right: 45px;
    gap: 30px;
}

.right-side a:hover {
    text-decoration: none;
}

.settings-image, .user-image, .exist-image {
    width: 28px;
    height: 28px;
}

.exist-image {
    border-radius: 50%;
}

.about-image {
    width: 22px;
    height: 22px;
}